name: Deploy staging environment
on:
  workflow_dispatch: {}

jobs:
  deploy:
    name: Deploy Staging
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://hub.staging.zikies.io/doc
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Update groups and send on-chain
        uses: ./.github/actions/update-groups-send-on-chain
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_EXECUTION_ROLE }} 
          sh-s3-data-bucket-name: "sismo-staging-hub-data"
          sh-s3-data-endpoint: "https://sismo-staging-hub-data.s3.eu-west-1.amazonaws.com"
          sh-dynamodb-global-table-name: sismo-staging-hub-global-table
          sh-default-configuration-env: staging
          sh-relay-defender-api-keys: ${{ secrets.SH_RELAY_DEFENDER_API_KEYS }}
          sh-additional-data: "0xF61CabBa1e6FC166A66bcA0fcaa83762EdB6D4Bd,0xb01ee322C4f028B8A6BFcD2a5d48107dc5bC99EC,0xFd247FF5380d7DA60E9018d1D29d529664839Af2,0x411C16b4688093C81db91e192aeB5945dCA6B785,0xc11d0D9E1E6c16Ea5E5395e0129ca34262CA2315,0x9b8a5F83eeF37c600C3Cdac908CD59a443477397,0xec8748f37Edf7AbE63CD198b495A61F4398F7370,0x2f8364eebD6B223469f031a8C3D198Ca374B4b52,0x2aFF5bA9dfAC5ED8dF4c508Bd988BC22991760D3,0xF7974591d54d7c83351061E7BDB801e997f6e01d,0x41e8f11F51087cD4a887f66F5520389B67F884C0,0x7226d94968ff1A7468bA01a44699a34911DA90B0,0xe5E482cF5f84b7278Dd015F5AdA98C2bfc4b7bfE,0x0Fd0CEc4a3f4291F6Cf5b8b6137dCC6e866352C8,0x569eaB3c91828B7d9f951d335bC12A6aABEc1458,0x2126f89B3b6d5115bd04D320437659e9673ac448,0xf0ee81CC5de435097F6EC381D5174e81bdF26a0c,0xFfede18d0EaACffF56B64Ebe58A7289d10bb0c5B,0x41EA85211c08227BD62B03f3EFc65FaAa6CBd1C3,0xAcBcE3e3e5DF14B0f9d493D9273bbFaC5cE4D386,0xe26B8384D946747E8548c87F8F7b000A29e6092e,twitter:big_q__"
          sh-first-generation-only: "yes"
          decentralized-subgraph-api-key: ${{ secrets.DECENTRALIZED_SUBGRAPH_API_KEY }} 
          google-application-credentials: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}
          sh-attesters: hydra-s1-simple hydra-s1-accountbound  
          sh-attesters-networks: goerli mumbai
          hive-api-key: ${{ secrets.HIVE_API_KEY }}
          twitter-api-key: ${{ secrets.TWITTER_API_KEY }}
          json-rpc-url: ${{ secrets.JSON_RPC_URL }}
          discord-webhook: ${{ secrets.DISCORD_WEBHOOK }}
          github-token: ${{ secrets.SH_GITHUB_TOKEN }}
          transpose-api-key: ${{ secrets.TRANSPOSE_API_KEY }}
      - name: Build and deploy
        uses: ./.github/actions/deploy
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}
          stage: staging
          static-bucket-name: ${{ secrets.STATIC_BUCKET_NAME }}
          deployment-url: "https://hub.staging.zikies.io/"
          hive-api-key: ${{ secrets.HIVE_API_KEY }}
          github-token: ${{ secrets.SH_GITHUB_TOKEN }}