name: Deploy dev environment
on:
  workflow_dispatch: {}

jobs:
  deploy:
    name: Deploy Dev
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://hub.dev.zikies.io/doc
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and deploy
        uses: ./.github/actions/deploy
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE }}
          stage: dev
          static-bucket-name: ${{ secrets.STATIC_BUCKET_NAME }}
          deployment-url: "https://hub.dev.zikies.io/"
          hive-api-key: ${{ secrets.HIVE_API_KEY }}
          github-token: ${{ secrets.SH_GITHUB_TOKEN }}
